body {
  text-align: center;
  height: 100vh;
}

.input {
  margin: 2rem;
}

.slide-container {
  width: 50%;
  margin: 1rem auto;
}

.button {
  height: 3rem;
  width: 5rem;
  user-select: none;
  -webkit-user-select: none;
}

#light {
  height: 1.5rem;
  width: 1.5rem;
  margin: 1rem auto;
  border: 2px solid gray;
  border-radius: 1rem;
}

.light-on {
  background-color: #04aa6d;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.freq {
  text-align: right;
  width: 3rem;
}

.active-freq {
  font-size: 4rem;
  font-weight: bold;
}

.test {
  height: 100px;
  width: 100px;
  margin: 1rem auto;
  background-color: gray;
}
